// Цвет такса на странице
$dark-text: #e7e5e5;

// Цвет фонов
$dark-bg-main: #111111;
$dark-bg-second: #373737;

// Цвет nav ссылок
$dark-nav-link: #0d95ce;
$dark-nav-link-hover: #0db66f;
$dark-nav-link-active: #0fd981;

// Цвет наведения на элемент таблицы ссылок
$dark-bg-list-table-hover: #0e2a45;

// Цвет фона кнопки
$dark-bg-button: #373737;

// Цвет отключённой кноки
$dark-text-button-disabled: #6c6c6c;
$dark-bg-button-disabled: #0b0b0b;
$dark-border-button-disabled: #1f1f1f;

// Цвет кнопки danger
$dark-bg-button-danger: #980000;
$dark-bg-button-danger-hover: #b60505;

// Цвет кнопки info
$dark-bg-button-info: #00459b;
$dark-bg-button-info-hover: #085cc2;

// Цвет кнопки link
$dark-bg-button-link: #055600;
$dark-bg-button-link-hover: #0c7104;

// Цвет Формы
$dark-bg-form: #373737;
$dark-form-border: #1f1f1f;
$dark-input-focus: #ffff;

// Цвет таблицы
$dark-bg-table-not-found: #ff8686;
$dark-border-table-not-found: #5a2828;
$dark-text-table-not-found: #580404;

// Цвета футера
$dark-bg-footer: #0e2a45;
$dark-footer-text: #0fd981;

