$light-bg-main: white;
$light-bg-second: #c8cccc;
$light-text: black;

$light-green: #42b983;
$light-green-hover: #3ca576;

$light-blue: #0d6efd;
$light-blue-hover: #0e62e3;

$light-red: red;
$light-red-hover: #de0101;

$light-disabled-bg: #e4e4e4;
$light-disabled-border: #f2f2f2;
$light-disabled-color: #52555e;

$light-input-bg: #fff;
$light-input-color: #212529;
$light-input-border: #ced4da;
$light-input-focus: #42b983;

$light-dark-blue: #032558

